body
{
    background-color: rgb(31, 31, 39);
} 
nav
{
    position: sticky;
}
.nav
{

   border : 2px solid darkviolet;
   background-color:rgb(26, 25, 25);
   border-radius: 10px;
   margin: auto;
   position: fixed;
   width: 1500px;
}
.nav ul{
    overflow: auto;
}
.nav li
{
    float: left;
    list-style-type: none;
    padding: 8px 13px;
}
.nav li a
{
    font-style: italic;
    color: ghostwhite;
    text-decoration: none;
}
.nav li a:hover
{
    color: darkviolet;
}
.search input
{
    border: 4px solid darkviolet;
    float: right;
    margin : 6.5px 20px;
    border-radius: 5px;
}
/* .quote ::before
{
    content: " ";
    background-image: url('https://source.unsplash.com/user/erondu/1600x900');
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
     z-index: -1;
    opacity: 0.2;
}  */

.quote {
    display: inline-block;
    color: ghostwhite;
     background-image: url('https://source.unsplash.com/user/erondu/1600x900');
    height: 340px;
    width: 1502px;
    text-align: center;
    padding-top: 13%;
    margin: auto;
    margin-top: 87px;
    border-radius: 15px;
    font-family: 'Tourney', cursive;
    font-size: 70px;
}
.ment
{
    text-align: center;
    text-decoration:underline;
    color: darkviolet;
    padding: 5px;
}
article
{
    border: 3px solid darkviolet;
    background-color:rgb(26, 25, 25) ;
    margin-top: 10px;
    width: 31.5%;
    display: inline-block;
    box-sizing: border-box;
    height: 200px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.mentorship
{
    margin: auto;
}
h3
{
    color: darkviolet;
    text-align: center;
}
p
{
    color: ghostwhite;
    padding: 10px;
    text-align: center;
}
.fnb
{
    text-align: center;
    text-decoration:underline;
    color: darkviolet;
    padding: 5px;
}
.imgform
{
    margin: auto;
   
}
.center
{
    border: 3px solid darkviolet;
    background-color:rgb(26, 25, 25) ;
    margin: auto;
    margin-top: 10px;
    width: 31.5%;
    display: inline-block;
    box-sizing: border-box;
    height: 545px;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    
}
#cntimg {
    margin-top: 23px;
    margin-bottom: -28px;
    height: 546px;
}
#center
{
    padding: 10px;
}
form {
    color: darkviolet;
    margin-top: 30px;
    background-color: rgb(26, 25, 25);
}
.quote2 {
    display: inline-block;
    color: ghostwhite;
    background-image: url(https://images.unsplash.com/photo-1534367610401-9f5ed68180aa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80);
    height: 220px;
    width: 1502px;
    text-align: center;
    padding-top: 13%;
    margin: auto;
    margin-top: 20px;
    border-radius: 15px;
    font-family: 'Tourney', cursive;
    font-size: 70px;
}
footer
{
    margin-top: 15px;
}
#foot
{
    border:2px solid darkviolet;
    margin-top: 46px;
}
.footer1
{
    display: inline-block;
    width: 49%;
    box-sizing: border-box;
    margin-bottom: 11px;
}
.addess
{
    color: darkviolet;
}
.addess li a
{
    color: ghostwhite;
    text-decoration: none;
}
.footer2
{
    color: darkviolet;
    box-sizing: border-box;
    display: inline-block;
    width: 49%;
    height: 66px;
    text-decoration: none;
    padding-right: 50px;
}
.social
{
    float: right;
}
.social li a 
{
    color: ghostwhite;
    text-decoration: none;
}
.social li :hover
{
    color : darkviolet;
}
.addess li :hover
{
    color: darkviolet;
}



